version: '3.7'
services:

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    restart: always

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9094:9094"
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,OUTSIDE://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,OUTSIDE://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CREATE_TOPICS: "catering:1:3"

  db:
    image: 'postgres:14.2-alpine'
    container_name: flight
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=flight
    restart: always

  config-service:
    image: 'config-service:latest'
    container_name: config-server
    build:
      context: ./config-service
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - kafka
    environment:
      - spring.cloud.stream.kafka.binder.brokers=host.docker.internal:9092

  eureka-service:
    image: 'eureka-discovery-service:latest'
    container_name: eureka-service
    build:
      context: ./eureka-discovery-service
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    depends_on:
      - config-service

  gateway:
    image: 'gateway:latest'
    container_name: gateway
    build:
      context: ./gateway
      dockerfile: Dockerfile
    environment:
      - eureka.client.service-url.defaultZone=http://eureka-service:8761/eureka/
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    ports:
      - "8080:8080"
    depends_on:
      - eureka-service

  user-service:
    image: 'user-service:latest'
    container_name: user-service
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - "9002:9002"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  flight-catering:
    image: 'flight-catering:latest'
    container_name: flight-catering
    build:
      context: ./flight-catering
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  flight-order:
    image: 'flight-order:latest'
    container_name: flight-order
    build:
      context: ./flight-order
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  grafana:
    build: './config/grafana'
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      monitoring:
        aliases:
          - grafana

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus:/prometheus
    networks:
      monitoring:
        aliases:
          - prometheus

networks:
  monitoring: