version: '3.7'
services:

  zookeeper:
Ьфлу    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9094:9094"
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,OUTSIDE://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,OUTSIDE://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CREATE_TOPICS: "catering:1:3"

  db:
    image: 'postgres:14.2-alpine'
    container_name: flight
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=compose-postgres
      - POSTGRES_PASSWORD=compose-postgres
      - POSTGRES_DB=flight
    restart: always

  config-service:
    image: 'config-service:latest'
    container_name: config-server-app
    build:
      context: ./config-service
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - kafka
    environment:
      - spring.cloud.stream.kafka.binder.brokers=host.docker.internal:9092

  eureka-service:
    image: 'eureka-discovery-service:latest'
    container_name: eureka-service-app
    build:
      context: ./eureka-discovery-service
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    depends_on:
      - config-service

  gateway:
    image: 'gateway:latest'
    container_name: gateway-app
    build:
      context: ./gateway
      dockerfile: Dockerfile
    environment:
      - eureka.client.service-url.defaultZone=http://eureka-service:8761/eureka/
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    ports:
      - "8080:8080"
    depends_on:
      - eureka-service

  user-service:
    image: 'user-service:latest'
    container_name: user-service-app
    build:
      context: ./user-service
      dockerfile: Dockerfile
    ports:
      - "9002:9002"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  flight-catering:
    image: 'flight-catering:latest'
    container_name: flight-catering-app
    build:
      context: ./flight-catering
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  flight-order:
    image: 'flight-order:latest'
    container_name: flight-order-app
    build:
      context: ./flight-order
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
    depends_on:
      - gateway
      - db
    environment:
      - spring.cloud.stream.kafka.binder.brokers=kafka:9092
      - spring.cloud.config.uri=http://config-service:8888
      - spring.profiles.active=deploy
    restart: always

  grafana:
    build: './config/grafana'
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      monitoring:
        aliases:
          - grafana

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus:/prometheus
    networks:
      monitoring:
        aliases:
          - prometheus

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.2.3
    ports:
      - 9200:9200
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    environment:
      - xpack.monitoring.templates.enabled=true
      - xpack.watcher.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
      - xpack.security.enabled=false
    networks:
      - elk

  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:8.2.3
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_URL=http://localhost:9200
    networks:
      - elk

  logstash:
    container_name: logstash
    build: ./logstash
    networks:
      - elk
    command: logstash -f /conf/logstash-spring-boot.conf
    ports:
      - "5044:5044"
    links:
      - elasticsearch

  filebeat:
    container_name: filebeat
    build: ./filebeat
    links:
      - flight-catering
      - logstash
    networks:
      - elk
    volumes:
      # needed to access all docker logs :
      - "/var/lib/docker/containers:/var/lib/docker/containers"
      # needed to access additional information about containers
      - "/var/run/docker.sock:/var/run/docker.sock"

networks:
  monitoring:
  elk:
    driver: "bridge"

volumes:
  elasticsearch-data:


