spring:
  application:
    name: eureka-server
  output:
    ansi:
      enabled: always
  profiles:
    include: json
server:
  port: 8761
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
management:
  endpoint:
    health:show-details: always